body{
background-image: url("https://img.freepik.com/vector-premium/fondo-dinamico-verde-azul-linea-malla-degradado-ilustracion-vectorial_103688-1633.jpg?w=2000");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

/*https://i.pinimg.com/originals/01/62/1b/01621b2cfa606b188f62173f65c2a68e.jpg*/
h1
    {font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: blue;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    text-shadow: 0px 0px 20px black;
    }
h2
    {
        text-align: center;
        font-size: 30px;
        margin-left: 50px;
        font-family: 'Roboto', sans-serif;
    }
                        .datos
                        {   font-size: 15px;
                            background-color: transparent;
                            transition: 1s; 
                                              
                        }
                        .datos:hover
                        {
                            background-color: aquamarine;
                            font-size: 25px;
                            font-weight: bolder;
                            border-radius: 40px 40px 40px 40px;
                            border: solid rgb(0, 102, 255) 0.5px;                           
                        }
                       
                                                                    

ul.lista 
    {
        font-size: 30px;
        list-style-type: square;
        margin-left: 200px;
    }

a
    {
         margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 0px;  
    }
a.ico:link
{   
    filter: brightness(50%);
    transition: 1s;
}
a.ico:hover 
{   
    filter:brightness(150%) contrast(150%);
    margin-left: 10px;
    margin-right: 10px;
    zoom: 120%;
    
}

.contenedor
{
display: flex;
justify-content: space-around;
    text-align: center;
}
.texto
{
    position: relative;
    width: fit-content;
    margin: 1cm ;
    text-align: center;
    text-align: justify;
    font-size: 15px;
    display: inline-block;
}